@charset "UTF-8";
@font-face {
    font-family: 'Playwrite';
    src: url(PlaywriteHU-VariableFont_wght.ttf)format('truetype');
    font-weight: normal;
    font-size: normal;
}
body{
    margin: 0px;
}
header{
    margin: 0px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
header>nav{
    padding: 100px;
    background-color: black;
    text-align: center;
    
}
h1{
    padding: 0px;
    margin: 0px;
    font-size: 65px;
    color: white;
}
a{
    margin: 0px;
    color: white;
    text-decoration: unset;

}
main{
    font-family: 'Playwrite';
}
#p1{
    padding: 120px 0px 120px 0px;
    font-size: 35px;
}
#p2{
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}
#p2>nav{
    padding: 120px 0px 120px 0px;
}
#p2>nav>p{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
}
#p3{
    padding: 120px 0px 120px 0px;
    font-size: 35px;
}
#p4{
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}
#p4>nav{
    padding: 120px 0px 120px 0px;

}
#p4>nav>p{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
}
#p5{
    padding: 120px 0px 120px 0px;
    font-size: 35px;
}
footer{
    text-align: center;
    background-color: black;
}
h2{
    margin: 0px;
    color: white;
}
