@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'Playwrite';
    src: url(PlaywriteHU-VariableFont_wght.ttf)format('truetype');
    font-weight: normal;
    font-size: normal;
}
html, body{
    min-height: 100vh;
    background-color: lightgray;
    font-size: 30px;
}
header{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: black;
    text-align: center;
}
h1{
    padding-top: 100px;
    margin: 0px;
    font-size: 65px;
    color: white;
}
header>p{
    padding-bottom: 100px;
}
a{
    margin: 0px;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
main{
    font-family: 'Playwrite';
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section>p{
    padding-bottom: 1px;
}
.normal{
    color: white;
    background-color: black;
    box-shadow:  inset 6px 6px 12px 0px rgba(0, 0, 0, 0.589);


}
.imagem{
    display: inline-block;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.233);
    
}
section#img1{
    background: black url(imagens/background001.jpg) right center no-repeat  ;
    background-attachment: fixed;
    background-size: cover;
    
}
section#img2{
    background: black url(imagens/background002.jpg) right center no-repeat ;
    background-attachment: fixed;
    background-size: cover;
    
}
footer{
    text-align: center;
    background-color: black;
}
h2{
    margin: 0px;
    color: white;
}
